
<html>
    <head>
        <title> TODO APP </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    </head>
    <body>
        <div class="page-header">
            <h1><a href="/"> TO-DO APPLICATON </a></h1>
        </div>
        <div class= "content container">
            <div class="row">
                <div class="col-md-8">
                    <ul>
                        {% for task in tasks %}
                            <li>{{task}}
                                <form action="/deletetodo/{{task.id}}/" style="display: inline"
                                method="post" class="post-form">{% csrf_token %}
                                     <input type="submit" value="delete">
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                    
                </div>
            </div>
            <div class="row">
                <form action="/addtodo/" method="post" class="post-form">{% csrf_token %}
                    <input type="text" name="todo">
                    <input type="submit" value="add">
                </form>
            </div>

        </div>
    </body>
</html>
